PORT=5000
MONGODB_URI=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/slidesketch?retryWrites=true&w=majority
CLIENT_URL=http://localhost:5173
MAX_FILE_SIZE_MB=50
AUTH_USERNAME=your_admin_username
AUTH_PASSWORD=your_admin_password
JWT_SECRET=your_jwt_secret_key_here
